<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>News</title>
  <!-- linking the external css file -->
  <link rel="stylesheet" href="./css/index-style.css">
</head>

<body>
<h1>Welcome to News Site</h1>
<p>- created by <strong>Binary-Beast</strong></p>

</body>

</html>
