*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
}
body{
    background-color: black;
}
header{
    display:flex;
    justify-content:flex-end;
}
nav ul li{
    display: inline;
}
.content{
    display: flex;
    padding: 80px 10%;
}