*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
}

header{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 15px 5%;
    
    
   background-color: rgb(255, 251, 251);
}
.logo {
    cursor: pointer;
    margin-right: auto;
}
li,a{
    font-weight: 500;
    text-decoration:none ;
    font-size: 25px;
    color:rgb(0, 0, 0);
}

nav ul li{
    display:inline-block;
    
    
   
    padding:30px ;
    
    
    
   
}
nav ul li a{
    transition: all 0.3s ease;
}
nav ul li a:hover{
    display: inline;
    color: rgb(255, 255, 255);
    border: 48px solid #000;
    padding-top: 4%;
    background-color: rgb(3, 3, 3);
    
    
    transition: all 0.2s ease;
}
.wrapper{
    background: url("https://i.pinimg.com/564x/f0/67/fd/f067fd4932ea5cafc7beb1834f72f41b.jpg") no-repeat center center /cover;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1; 
}

.wrapper:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.content{
    display: flex;
    padding: 80px 10%;
    justify-content: space-between;
    color:white;
}
.hero hi{
    font-size: 40px;
}
.hero p{
    margin: 30px 5% 5%;
    font-family: 400;
    line-height: 2;
}
